%% Common project erlang options.
{erl_opts, [
    % mandatory
    debug_info,
    warnings_as_errors,
    warn_export_all,
    warn_missing_spec,
    warn_untyped_record,
    warn_export_vars,

    % by default
    warn_unused_record,
    warn_bif_clash,
    warn_obsolete_guard,
    warn_unused_vars,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_deprecated_function

    % at will
    % bin_opt_info
    % no_auto_import
    % warn_missing_spec_all
]}.

%% Common project dependencies.
{deps, [
    {genlib, {git, "https://github.com/rbkmoney/genlib.git", {ref, "3e1776536802739d8819351b15d54ec70568aba7"}}},
    {scoper, {git, "https://github.com/rbkmoney/scoper", {ref, "89a973bf3cedc5a48c9fd89d719d25e79fe10027"}}},
    {woody, {git, "https://github.com/rbkmoney/woody_erlang.git", {ref, "d9fca6da55a46e39bdb7ad2c0dba0b7205a7e70b"}}},
    {token_keeper_proto,
        {git, "https://github.com/rbkmoney/token-keeper-proto.git", {ref, "81f2cd7b3a4bee7d9e1253554908ee8bfafdbf43"}}}
]}.

%% XRef checks
{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    deprecated_functions_calls,
    deprecated_functions
]}.
% at will
% {xref_warnings, true}.

%% Tests
{cover_enabled, true}.

%% Dialyzer static analyzing
{dialyzer, [
    {warnings, [
        % mandatory
        unmatched_returns,
        error_handling,
        race_conditions,
        unknown
    ]},
    {plt_apps, all_deps}
]}.

{profiles, [
    {test, [
        {deps, []}
    ]}
]}.

{plugins, [
    {erlfmt, "0.14.1"},
    {rebar3_lint, "0.4.0"}
]}.

{erlfmt, [
    {print_width, 120},
    {files, ["{src,include,test}/*.{hrl,erl}", "rebar.config", "elvis.config"]}
]}.
